:root {
  --color-text-primary: #333;
  --color-text-secondary: #fff;
  --color-background-primary: #f5f7f9;
  --color-background-secondary: #fff;
  --color-border-primary: #e5e5e5;
  --color-green-primary: #4a9a72;
  --color-green-secondary: #55bb91;
  --color-shadow: #e5e5e5;
}

html {
  background-color: var(--color-background-primary);
}

* {
  font-family: sans-serif;
}
